.title {
    margin-bottom: 40px;
    margin-top: 60px;
    text-align: center;
}

.carousel-container {
    max-width: 500px;
    border: 1px solid red;
    aspect-ratio: 1/1;
    margin: auto;
    position: relative;
}

.carousel-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
/* metto in opacity 0 le img per renderle invisibili
e con l'active metto opacity 1 */
.carousel-image-container.active {
    opacity: 1;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container-arrows {
    position: absolute;
    top: 50%;
    left: -60px;
    right: -60px;
    display: flex;
    justify-content: space-between;
}